@model Restoran.Models.Narudzba

@{
    ViewData["Title"] = "Create";
}

<h2>Kreiraj novu narudžbu</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZaposleniId" class="control-label">Radnik</label>
                <select asp-for="ZaposleniId" class ="form-control" asp-items="ViewBag.ZaposleniId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoId" class="control-label">Broj stola</label>
                <select asp-for="StoId" class ="form-control" asp-items="ViewBag.StoId"></select>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-danger" asp-action="Index">Odustani</a>
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
