@model Restoran.Models.Spisakzanarudzbu

@{
    ViewData["Title"] = "Dodaj sa menija";
}

<h2>Dodaj sa menija</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NarudzbaId" />
            <div class="form-group">
                <label asp-for="MeniId" class="control-label">Meni</label>
                <select asp-for="MeniId" class="form-control" asp-items="ViewBag.MeniId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kolicina" class="control-label">Količina</label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-danger"
                   href="@Url.Action("Cart","Spisakzanarudzbu", new { narudzbaId = ViewBag.NarudzbaId})">Odustani</a>
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
