@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding:150px 0px 400px 0px">
    <div style="
    font-size: 80px;
    letter-spacing: 4.2px;
    word-spacing: 2.4px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    margin-bottom:70px;">Dobrodošli</div>
    <h6>
        <a class="btn btn-outline-light" asp-action="Create" asp-controller="Narudzba">Započni novu narudžbu</a>
    </h6>
</div>
